<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690020680586-bm6c8gh9umc7m9d9f8n0im90opur3stt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690020680586-bm6c8gh9umc7m9d9f8n0im90opur3stt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690020680586-5fra3e3u8tjvm16a5i2akhfip0l6r791.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX7jd-rbghD2KaiYN5PTl0mKinAmJpufo</string>
	<key>GCM_SENDER_ID</key>
	<string>690020680586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wrteam.erestroSingleVenderRider.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>erestro-single-vender</string>
	<key>STORAGE_BUCKET</key>
	<string>erestro-single-vender.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690020680586:ios:5637e7702388f26a5abe73</string>
</dict>
</plist>